
.authorization{
  width: 550px;
  height: 550px;
  position: flex;
  display: inline-block;;
  margin-top: 150px;
  justify-content: center;
  border: 1px solid #615C5C;
  background-color: #363838;
}

.autoriz{
  margin-top: 10px;
  font-size: 42px;
  font-style: white;
  font-family: 'FontName';
  font-style: Regular;
  width: 100%;
  height: 5%;
}

.buttonClose{
  background-image: url(/public/cross.png);
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 500px;
  width: 20px;
  height: 20px;
}

.buttonEnter{
  font-family: 'FontName';
  font-style: Regular;
  justify-content: center;
  position: flex;
  display: inline-block;
  padding: 16px 78px 24px;
  gap: 12px;
  margin-top: 30px;
  width: 20vw;
  height: 8vh;
  
  background: #FFDF38;
  box-shadow: inset 0px -6px 0px #C59A2E;
  
  flex: none;
  order: 0;
  flex-grow: 0; 
}

.buttonEnter:active {

  padding: 10px 10px 10px;
  gap: 10px;
  background: #F1D22D;
  box-shadow: inset 0px 6px 0px #C59A2E;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttonEnter:hover {
padding: 10px 10px 10px;
gap: 10px;
background: #FFE55A;
box-shadow: inset 0px -6px 0px #C59A2E;
flex: none;
order: 0;
flex-grow: 0;
}

.buttonClose:hover{
  background-color: #FF6752;
  box-shadow: inset 0px -2px 0px #C94A38;
}

.buttonClose:active{
  background-color: #E2513D;
  box-shadow: inset 0px 2px 0px #C94A38;
}

.loginHandler{
  position: flex;
  display: inline-block;
  width: 90%;
  height: 85%;
  justify-content: center;

  background-color: #171717;
}

input{
  position: flex;
  display: inline-block;
  height: 35px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 50px;
  width: 300px;
  background-color: #363838;
}