.chat-container {
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40ch;
    height: 50ch;
    margin-bottom: 50px;
    padding: 10px;
    background: white;
    left: 5ch;
    bottom: 10ch;
}

.message-input {
    height: 50px;
    width: 40ch;
    margin-right: 10px;
    font-size: 15px;
}

.sendBtn {
    height: 50px;
    width: 50px;
    background-position: center;
    background-image: url(/public/send.png);
    background-color: rgb(255, 142, 37);
    background-repeat: no-repeat;
    background-size: 80%;
    padding: 1ch 1ch;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 5px;
    border: none;
}

.sendBtn:active {
    background-color:rgb(182, 124, 0);
}

.message {
    position: relative;
    width: auto;
    height: auto;
    padding: 2px;
    margin-bottom: 0.5ch;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.199);
}

.name {
    text-align: start;
    margin: 0 0 0 1ch;
    color:rgb(192, 102, 0)
}

.text {
    text-align: start;
    word-break: break-word;
    margin: 0 0 0 1ch;
}

.chat-input {
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.messages-field{
    height: 450px;
    overflow-y: scroll;
}