

.buttonChat:active {
  transform: scale(0.95);
}
.buttonChat{
  position: absolute;
  background-position: center;
	background-image: url(/public/chat.png);
	background-color:rgb(255, 175, 3);
	background-repeat: no-repeat;
	background-size:80%;
	padding: 5ch 5ch;
	border-radius: 10ch;
	color:rgb(255, 255, 255);
	border-color: #f09819;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	font-size: 1em;
  left: 5ch;
  bottom: 5ch;
}

.buttonChat:hover{
	background-position: center;
	color: #fff;
   text-decoration: none;
	background-color: rgba(232, 173, 46, 0.7);
	color:rgb(255, 255, 255);
	border-color: #ffac38;
}

